@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

h1 {
  padding: 10px;
}

p {
  padding: 10px;
  margin-left: 1%;
}

h2 {
  padding: 10px;
  margin-left: 1%;
}

h3 {
  padding: 10px;
  margin-left: 2%;
}

html {
  background-color:#D6F6DD;
}

.App {
  text-align: center;
  justify-content:left;
}

#brand {
	color: white;
}

.wrapper {
  padding:15px 25px 15px 25px;
  background-color: #01BAEF;
  justify-content: center;
  border-style: solid;
  width: 75%;
  margin: auto;
  margin-bottom: 1%;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.unbold {
  font-weight:normal;
}

.content {
  background-color:black;
  /* position: relative; */
  text-align:center;
  align-items: center;
  display: flex;
  min-height:100vh;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}

.content h1 {
  color: #fff;
  font-size: 8em;
  position: absolute;
  transform: translate(-50%, -50%);
  margin-left: 50%;
}

.content h1:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #eec875;
}

.content h1:nth-child(2) {
  color: #eec875;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}